.nav{
    display: flex;
    justify-content: flex-end;
}
.menu-button{
    display: inline-block;
    border: none;
    background: transparent;
}
.menu-button .icon-cross {
    display: none;
}
.menu-button.is-open .icon-cross{
    display: block;
}
.menu-button.is-open .icon-menu{
    display: none;
}