.page-header .nav {
    position: relative;

    @media screen and (min-width: 768px) {
        justify-content: center;
    }

    @media screen and (min-width: 1140px) {
        justify-content: flex-end;
    }
}
.nav{
    display: flex;
    justify-content: flex-end;

    @media screen and (min-width: 768px) {
        height: 80px;
        align-items: center;
    }
}
.menu-button{
    display: inline-block;
    border: none;
    background: transparent;

    @media screen and (min-width: 768px) {
        display: none;
    }
}
.menu-button .icon-cross {
    display: none;
}
.menu-button.is-open .icon-cross{
    display: block;
}
.menu-button.is-open .icon-menu{
    display: none;
}
.nav__div{
    // height: 400px;

    background-color: #ffffff;
    font-size: 35px;
    text-align: center;

    @media screen and (max-width: 767px) {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;

        &.is-open{
        display: block;
        }
    }

    @media screen and (min-width: 768px) {
        font-weight: 600;
        font-size: 16px;
        line-height: 1.25;
    }

    @media screen and (min-width: 1140px) {
        font-weight: 700;
        font-size: 22px;
        line-height: 1.27;
    }
}
.nav__list{
    padding: 20px;

    @media screen and (min-width: 768px) {
        display: flex;
        padding: 0;
    }
}
.nav__item{
    margin-left: 15px;

    &:first-child{
        margin-left: 0;
    }

    @media screen and (min-width: 1140px) {
        margin-left: 30px;
    }
}    
.nav__link{
    color: #000000;
    transition: color 400ms ease-in-out;

    &:focus, &:hover{
        color: #ff6347;
    }
}    
