*{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
body{
    font-family: 'Stick No Bills', sans-serif;
    font-size: 14px;

    &.modal-open{
        overflow: hidden;
    }
}
button{
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5{
    margin: 0;
    padding: 0;
}