.team{
    padding: 50px 0;
}
.team__title{
    color: #ff8800;

    @media screen and (min-width: 768px) {
        font-size: 24px;
        color: darkolivegreen;
        text-align: center;
    }
}

.team__list{

    @media screen and (min-width: 768px) {
        display: flex;
    }
}
.team__item{

    @media screen and (max-width: 767px) {
        
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    @media screen and (min-width: 768px) {

        &:not(:last-child) {
            margin-right: 15px;
        }
    }

    @media screen and (min-width: 1140px) {
        flex-basis: 33.3333%;

        &:not(:last-child) {
            margin-right: 20px;
        }
    }
}

.team__link{

    &:focus,
    &:hover{
        .team__out{
            transform: translateX(0%);
        }
    }
}
.team__icon{
    width: 100%;
}
.team__overlay{
    position: relative;
    overflow: hidden;
}
.team__out{

    @media screen and (min-width: 1140px) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(229, 243, 152, 0.7);
        opacity: 1;
        transform: translateX(100%);
        transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
    }    
}
.team__text{
    display: none;

    @media screen and (min-width: 1140px) {
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 20px;
        color: #000000;
        font-size: 16px;
        line-height: 1.3;
        letter-spacing: 0.03em;

        box-sizing: border-box;
    } 
}

$colors: "#708f91", "rgba(192, 150, 219, .7)", "#cfac6a";

@include colorize($colors, ".team__item");