.team__title{
    color: #ff8800;
}

.team__list{

    @media screen and (min-width: 768px) {
        display: flex;
    }
}
.team__item{

    @media screen and (max-width: 767px) {
        
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    @media screen and (min-width: 768px) {

        &:not(:last-child) {
            margin-right: 15px;
        }
    }

    @media screen and (min-width: 1140px) {
        flex-basis: 33.3333%;

        &:not(:last-child) {
            margin-right: 20px;
        }
    }
}

$colors: "#708f91", "rgba(192, 150, 219, .7)", "#cfac6a";

@include colorize($colors, ".team__item");